.message {
    width: 300px;
    text-align: center;
    margin: 200px auto;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 5px;
}
.ava {

}
.ava img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.textBox {
    width: 250px;
    border: 1px solid black;
    padding: 5px;
    background-color: #111111;
    border-radius: 5px;
    word-wrap: break-word;
}
.name {
    text-align: left;
    color: blueviolet;
}
.text {
    text-align: left;
    color: #999999;
}
.time {
    text-align: right;
    color: #666666;
}